@model Shapees.Models.DatabaseModel.Room

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Roomname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Roomname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Roomagegroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Roomagegroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Roomid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
