@model Shapees.Models.DatabaseModel.Media

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/DocumentsAndMediaLayout.cshtml";
}
<head>
    <style>
        /* Other */
        .btn-gray {
            color: #fff;
            background-color: #eee;
            border-color: #ccc;
            color: #000;
        }


        .btn.borderless {
            border: none;
            background: inherit;
        }

            .btn.borderless.dropdown-toggle {
                -webkit-box-shadow: none;
                box-shadow: none;
            }

        .rb {
            border-right: 1px solid #ccc;
        }

        .topcis-header {
            margin-top: 20px;
            margin-bottom: -1px;
            background-color: #f8f8f8;
            border: 1px solid #e5e5e5;
            border-radius: 3px 3px 0 0;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        label {
            font-size: 1em;
        }

        /* Style the tab */
        div.tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

            /* Style the buttons inside the tab */
            div.tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
            }

                /* Change background color of buttons on hover */
                div.tab button:hover {
                    background-color: #ddd;
                }


                /* Create an active/current tablink class */
                div.tab button.active {
                    background-color: #ccc;
                }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }

        /* Remove hover for disabled tab links */
        #edit_report {
            background-color: #f1f1f1;
            color: #D3D3D3;
        }

        #delete_report {
            background-color: #f1f1f1;
            color: #D3D3D3;
        }

        #report_details {
            background-color: #f1f1f1;
            color: #D3D3D3;
        }
    </style>
    <script>

        //open tab function
        function openOption(evt, optionName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tabs");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(optionName).style.display = "block";
            evt.currentTarget.className += " active";

        }

        //open documents&media home page on body load
        function loadHome() {
            // Show the list reports home tab
            document.getElementById('CreateMedia').style.display = "block";
            // Set button to active
            document.getElementById("create_media").className += " active";
        }

        //redirect to action pages
        //open Create Report
        function openCreateReport() {
            document.location = '@Url.Action("Create", "ReportsDB")';

        }
        //open Create Document
        function openCreateDocument() {
            document.location = '@Url.Action("Create", "DocumentsDB")';

        }
        //open Create Media
        function openCreateMedia() {
            document.location = '@Url.Action("Create", "MediaDB")';

        }
        //open Reports Index - search reports
        function openReportsIndex() {
            document.location = '@Url.Action("Index", "ReportsDB")';

        }

        //function opens search Reports
        function searchReports() {
            document.location = '@Url.Action("Index", "ReportsDB")';
        }
        //function opens search Documents
        function searchDocuments() {
            document.location = '@Url.Action("Index", "DocumentsDB")';
        }
        //function opens search Media
        function searchMedia() {
            document.location = '@Url.Action("Index", "MediaDB")';
        }

    </script>
</head>
<body onload="loadHome()">

    <h2>Reports, Documents and Media</h2>
    <!--       START TABS        -->
    <div class="tab">
        <button id="home_page" class="tablinks" onclick="openReportsIndex()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&ensp;Reports, Documents and Media</button>
        <button id="create_report" class="tablinks" onclick="openCreateReport()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-list-alt"></span>
            &ensp;Create Report
        </button>
        <button id="create_document" class="tablinks" onclick="openCreateDocument()">
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            &ensp;Upload Document
        </button>
        <button id="create_media" class="tablinks" onclick="openCreateMedia()">
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
            &ensp;Upload Media
        </button>
    </div>

    <!--    FIRST TAB - Home (list of reports)    -->
    <div id="ListReports" class="tabcontent">
    </div>
    <!--    END FIRST TAB   -->
    <!--    2ND TAB - Create Reports    -->
    <div id="CreateReport" class="tabcontent">

        <br /><br />
    </div>
    <!-- END Create Reports -->
    <!--    3RD TAB - Create Document    -->
    <div id="CreateDocument" class="tabcontent">

        <br /><br />
    </div>
    <!-- END Create Documents -->
    <!--    4TH TAB - Create Media    -->
    <div id="CreateMedia" class="tabcontent">
        <br />
        <div>
            <a asp-action="Index"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&ensp;Back to Media List</a>&emsp;|&emsp;
        </div>
        <h3>Upload Media</h3>
        <br />
        <form asp-action="Create"  method="post" enctype="multipart/form-data">
            <div class="form-horizontal">
                <h4>Media Information</h4>
                <hr />
                <!-- Select image or video file -->
                <div class="form-group">
                    <label class="col-md-2 control-label" style="font-weight:normal;"> Upload media file: </label>
                    <div class="col-md-10">
                        <input type="file" accept="image/*,video/*" name="file" />
                    </div>
                </div>
                <br />
                <!-- Media Type -->
                <div class="form-group">
                    <label asp-for="Mediatype" class="col-md-2 control-label" style="font-weight:normal;">Media type</label>
                    <div class="col-md-2">
                        <select asp-for="Mediatype" class="form-control" id="mediatype" name="mediatype" style="width: 100%; max-width:none; " required>
                            <option value="" hidden>Choose type ...</option>
                            <option value="Image">Image</option>
                            <option value="Video">Video</option>
                        </select>
                    </div>
                </div>
                <!-- Media Title -->
                <div class="form-group">
                    <label asp-for="Title" class="col-md-2 control-label" style="font-weight:normal;"></label>
                    <div class="col-md-10">
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <!-- Media Short Description -->
                <div class="form-group">
                    <label asp-for="Description" class="col-md-2 control-label" style="font-weight:normal;"></label>
                    <div class="col-md-10">
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <!-- Author of uploaded document or person that uploaded media - select list from database(educator or director users) -->
                <div class="form-group">
                    <label asp-for="Authorid" class="col-md-2 control-label" style="font-weight:normal;">Author</label>
                    <div class="col-md-10">
                        <select asp-for="Authorid" class="form-control" asp-items="ViewBag.Authorid" required>
                            <option value="" hidden>Select Author ...</option>
                        </select>
                    </div>
                </div>
                <!-- Child that media file is related to (goes to child's portfolio) -->
                <div class="form-group">
                    <label asp-for="Childid" class="col-md-2 control-label" style="font-weight:normal;">Child</label>
                    <div class="col-md-10">
                        <select asp-for="Childid" class="form-control" asp-items="ViewBag.Childid" required>
                            <option value="" hidden>Select Child ...</option>
                        </select>
                    </div>
                </div>
                <br />
                <br />
                <!-- Form buttons: Reset & Submit -->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="reset" value="Reset" class="btn btn-danger">Reset Form </button>
                        <input type="submit" value="Upload Media" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </form>

        <br /><br />
    </div>
    <!-- END Create Media -->
</body>
