@* ---------------------------------- SHAPEES 2017 ---------------------------------- *@
@*                                                                                    *@
@*  Created and Edited by Four Corner Solutions team:                                 *@
@*      Ivana Ozakovic, Nicole Lardner, Damon Walker,                                 *@
@*      Cassandra Kalabric, Matthew Mauri, Sima Narain                                *@
@*                                                                                    *@
@*  Created for Kid's Uni, University of Wollongong, Wollongong                       *@
@*                                                                                    *@
@*  Filename: Home/IndexParent.cshtml                                                 *@
@*  Controller Filename: Controllers/HomeController.cs                                *@
@*                                                                                    *@
@*  File description: Dashboard/Home page file.                                       *@
@* ---------------------------------------------------------------------------------- *@


@model Shapees.Models.DatabaseModel.Userinfo
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
}

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Session


<head>

    <style>
        .ds-btn li {
            list-style: none;
            float: left;
            padding: 10px;
        }


            .ds-btn li a span {
                padding-left: 15px;
                padding-right: 5px;
                width: 100%;
                display: inline-block;
                text-align: left;
            }

                .ds-btn li a span small {
                    width: 100%;
                    display: inline-block;
                    text-align: left;
                }

            .ds-btn li a span {
                padding-left: 15px;
                padding-right: 5px;
                width: 100%;
                display: inline-block;
                text-align: left;
            }

                .ds-btn li a span small {
                    width: 100%;
                    display: inline-block;
                    text-align: left;
                }

        .user-row {
            margin-bottom: 14px;
        }

            .user-row:last-child {
                margin-bottom: 0;
            }

        .dropdown-user {
            margin: 13px 0;
            padding: 5px;
            height: 100%;
        }

            .dropdown-user:hover {
                cursor: pointer;
            }

        .table-user-information > tbody > tr {
            border-top: 1px solid rgb(211, 211, 211);
        }

            .table-user-information > tbody > tr:first-child {
                border-top: 0;
            }

            .table-user-information > tbody > tr > td {
                border-top: 0;
            }
    </style>

</head>

<body>
    <div class="container">
        <div class="row">
            <h2>Quick Links</h2>
            <ul class="ds-btn">
                <li>
                    <a class="btn btn-lg btn-primary" href="/DocumentsDB/IndexParent">
                        <i class="glyphicon glyphicon-user pull-left"></i><span>Documents<br><small>View your child's Documents</small></span>
                    </a>
                </li>
                <li>
                    <a class="btn btn-lg btn-success " href="/MediaDB/IndexParent">
                        <i class="glyphicon glyphicon-picture pull-left"></i><span>Media<br><small>View your child's Media files</small></span>
                    </a>
                </li>
                <li>
                    <a class="btn btn-lg btn-info" href="/ReportsDB/IndexParent">
                        <i class="glyphicon glyphicon-file pull-left"></i><span>Reports<br><small>View your child's Reports</small></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <p></p>
                <h2></h2>
                <p> </p><p> </p>

                <div class="panel panel-info ">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3" align="center">
                                @if (Model.Profileimage != null)
                                {
                                        //height="150" width="150" in user details
                                        <img src="@ViewBag.imagesrc" class="img-circle img-responsive">
                                }
                                @if (Model.Profileimage == null)
                                {
                                    <img src="http://s3.amazonaws.com/nvest/Blank_Club_Website_Avatar_Gray.jpg" class="img-circle img-responsive">
                                }
                            </div>
                            <div class=" col-md-7">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>Role</td>
                                            <td>Parent</td>
                                        </tr>
                                        <tr>
                                            <td>Parent of <small>(if entered)</small></td>
                                            <td>@Model.Parentof</td>
                                        </tr>
                                        <tr>
                                            <td>Full Name</td>
                                            <td>@Model.FullName</td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <td>Contact</td>
                                            <td>@Model.Othercontact</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td><a href="mailto:info@support.com">@Model.Email</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p></p>
            @if (Model.Usertype == 1)
            {
                <h2>Child's information</h2>
            <p> </p><p> </p>
         
            }
        </div>
    </div>


    @if(String.IsNullOrEmpty(Model.Parentof))
    {
        @:<div class="container">
        @:<div class="row">
            @:<p></p>
            @:<h3>No Childs information provided.</h3>

         @: </div>   
        @:</div>
    }
    @if(Model.Parentof != null)
    {
        @:<div class="container">
        @:<div class="row">
            @:<p></p>
            @:<h4>Parent of: @(Model.Parentof)&ensp; </h4 >
         @: </div>   
        @:</div>
    }